@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #1F2937;
    padding: 32px;
}

img {
    max-width: 600px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 72px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    width: 900px;
}

ul {
    list-style-type: none; 
    display: flex;
    color: white;
    gap: 8px;
    text-decoration: none;
}

.hero-pane {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    background-color: #1F2937;
    width: 300px;
    
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900px;

}

.hero-image{
    border-radius: 30px;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid #3882F6;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-row{
    display: flex;
    flex: 1;
    gap: 50px;
    margin-bottom: 100px;
}

h2 {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 14px;
    text-align: center;
}

.quote-pane {
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    width: 950px;
    padding: 32px;
    padding-top: 100px;
    
}

.quoted {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 64px;
    align-self: center;
    width: 950px;
    text-align: right;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    background-color: #3882F6;
    color: white;
}

.banner-left {
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-left: 50px;
}

.banner-p1{
    font-weight: bold;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 32px;
}

.btn-hero {
    padding: 8px 16px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    border-color: #3882F6;
    margin-right: 100px;
  }

.btn-hero:hover {
    padding: 8px 16px;
    width: 100px;
    background-color: white;
    color: #3882F6;
    border-radius: 6px;
    border-color: white;
    margin-right: 100px;
  }

.btn-banner {
    padding: 8px 16px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    border-color: white;
    margin-right: 100px;
  }

.btn-banner:hover {
    padding: 8px 16px;
    width: 100px;
    background-color: white;
    color: #3882F6;
    border-radius: 6px;
    border-color: white;
    margin-right: 100px;
  }  

a {
    color: white;
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}  